{% extends "base.html" %}

{% block title %} Log-in {% endblock %}

{% block content %}
    <section class="w-100 px-4 py-5 gradient-custom" style="border-radius: .5rem .5rem 0 0;">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">Forgotten your password?</h2>
                    <p class="text-white-50 mb-5">Enter your e-mail address to obtain a new password.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                            {{form.email}}
                        </div>
                        <br>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endblock %}