{% extends "base.html" %}

{% block title %} Log-in {% endblock %}

{% block content %}

    <section class="w-100 px-4 py-5 gradient-custom" style="border-radius: .5rem .5rem 0 0;">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h1>Reset your password</h1>
                            <p>We've emailed you instructions for setting your password.</p><br>
                            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}